.my-item-section {
    width: 600px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.my-item-section .btn-section .btn-delete svg,
.my-item-section .btn-section .btn-stock svg {
    font-size: 30px;
}

.my-item-section .btn-section .btn-delete {
    border: 3px solid #e5b94a;
    color: #e5b94a;
}

.my-item-section .btn-section .btn-stock {
    border: 3px solid #e5b94a;
    background-color: #e5b94a;
}

@media only screen and (max-width: 420px) {
    .my-item-section {
        width: 380px;
    }

    .my-item-section .btn-section .btn-delete svg,
    .my-item-section .btn-section .btn-stock svg {
        font-size: 20px;
    }

}