.banner-section {
    height: 440px;
    background-image: url(../../../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

.banner-section p {
    width: 700px;
}

.banner-section a {
    color: #e5b94a;
    border: 2px solid #e5b94a;
}

@media only screen and (max-width: 420px) {
    .banner-section p {
        width: 100%;
    }
}
@media only screen and (max-width: 385px) {
    .banner-section h1 {
        font-weight: 500;
    }
}